.example-card {
  max-width: 60%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.aligned-with-icon{
  position: absolute;
  margin-top: 5px;
  margin-left: 5px; /* optional */
}

.with-icon {
  display: flex;
  align-items: center;
}
.gray-icon{
  color: gray;
}

.example-spacer {
  flex: 1 1 auto;
}
