<body>
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Lillab'Connect</h1>

    <div>

      <button mat-button [matMenuTriggerFor]="menu">Idees</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'/idees'">Toutes les idées</button>
        <button mat-menu-item [routerLink]="'/ideeCreation'">Créer une idée</button>
        <button mat-menu-item [routerLink]="'/ideesPerUser'">Mes idées</button>
      </mat-menu>

      <!-- <a mat-button [routerLink]="'/idees'" routerLinkActive="active"> Idees </a>-->
      <button  mat-button [routerLink]="'/projets'" routerLinkActive="active"> Appel à Projets  </button>
      <button mat-button [routerLink]="'/stories'" routerLinkActive="active"> Success Stories </button>
      <button mat-button [routerLink]="'/evenements'" routerLinkActive="active"> Evènements </button>
      <button mat-button [routerLink]="'/profile'" routerLinkActive="active"> Profil </button>
    </div>
    <span class="example-spacer"></span>
   <!-- <mat-icon>more_vert</mat-icon>-->
    <a mat-button (click)="logout()"> Déconnexion </a>
  </mat-toolbar-row>
</mat-toolbar>
<section>
  <div class="gap gray-bg">
    <div class="container">
      <div class="row" id="page-contents">
        <div class="col-lg-12">
          <div class="blog-sec">
            <div class="post-filter-sec">
              <div style = "margin: auto; width: 70%; margin-top: 30px;">
                <form class="example-form" >
                <mat-form-field class="example-full-width" style="width: 100%">
                  <mat-chip-list #chipList>
                    <!--*ngFor="let option of  this.dataService.searchOption" (removed)="removeOption(option)"-->
                    <mat-chip style="margin-top:0.4em;">

                      <!--{{option.title}}-->
                      <span></span>

                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <!--[formControl]="myControl"-->
                    <input #autocompleteInput type="text" style="width: 100%"  placeholder="Recherche d'idées par domaine et compétence" aria-label="Number" matInput
                           [matAutocomplete]="auto" [matChipInputFor]="chipList">
                    <!--[displayWith]="displayFn"-->
                    <mat-autocomplete #auto="matAutocomplete">
                      <!-- <mat-option *ngFor="let option of autoCompleteList" [value]="option" (onSelectionChange)="filterPostList($event)">
                         {{option.title}}
                       </mat-option>-->
                    </mat-autocomplete>
                  </mat-chip-list>

                </mat-form-field>

                </form>

              </div>

             <!-- <div>
                <span>filtrer par</span>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-select>
                    <mat-option>Par mot-clés</mat-option>
                    <mat-option>Par tags</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-select>
                    <mat-option>Descendant (date)</mat-option>
                  </mat-select>
                </mat-form-field>

                <a href="#" title="">rafraîchir</a>
              </div>-->
            </div>
            <div class="l-post" *ngFor="let idee of idees ; let i = index">
              <figure>
                <img src="../assets/images/resources/bloglist-1.jpg" alt="">

              </figure>
              <div class="l-post-meta">
                <div class="post-title">
                  <h4><a [routerLink]="'/ideesPerUser/view/'+idee.idIdee" (click)="onViewIdee(idee.idIdee)">{{idee.titre}}</a></h4>
                  <p class="hidden-text-description">{{idee.description}} </p>
                  <h6>Domaine(s) concerné(s)</h6>
                  <div class="sub-category"  *ngFor="let domaine of idee.domaines" style="display:inline-block;">
                    <a href="#">{{domaine.libelle}}</a>
                  </div>
                  <!--<p></p>-->
                  <h6>Compétence(s) concernée(s)</h6>
                  <div class="sub-category" *ngFor="let competence of idee.comptences" style="display:inline-block;">
                    <a href="#">{{competence.libelle}}</a>
                  </div>
                  <br>
                  <span class="p-date">by <a>{{idee.user.prenom }} {{idee.user.nom}}</a> {{idee.dateCrea}} </span>
                </div>
                <div class="with-icon">
                  <button mat-icon-button aria-label="Example icon-button with a heart icon"(click)="addPouce(idee.idIdee)">
                    <mat-icon [ngClass]="{'red-icon': idee.like.length > 0, 'gray-icon':idee.like.length === 0 }" >favorite</mat-icon>
                  </button>
                  {{idee.like.length}}
                  <mat-icon [ngClass]="{'blue-comment': idee.commentaires.length > 0, 'gray-icon':idee.commentaires.length === 0 }" style=" margin: 10px;">comment</mat-icon>
                  {{idee.commentaires.length}} comment(s)

                </div>
                <!--<div style="margin-right: 5px; float: right;">
                  <button type="button" class="btn btn-success"
                          style="background-color:#60b2d2d1; border-color:#60b2d2d1">Modifier
                  </button>
                  <button type="button" class="btn btn-success"
                          style="background-color:#60b2d2d1; margin: 10px; border-color:#60b2d2d1">Supprimer
                  </button>
                </div>-->

              </div>
            </div>

          </div>
          <!--  <button class="btn-view btn-load-more">Load More</button>-->
        </div>
      </div>
    </div>
  </div>
</section>
</body>
