.example-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-container > * {
  /*width: 50%;*/
  align-content: center;
  display: inline-block;
}

.full-width {
  width: 100%;
}

.star {
  color: red;
  font-size: 90%;
}

mat-card {
  width: 35%;
  min-width: 320px;
}

#wrapper{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.connexionButton{
  margin-left: 10px;
}
.content {
 /* background-image: url('../images/laboratoire.jpg');
  background-size: 100% 100%;*/
}
